
.drum-grid {
  --primary:#6f6cde; 
  --secondary: #79e3b6;
  --background: #f3f0f1;
  width: 94vw;
  height: 105vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.drum-keys{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-items: center;
  grid-gap: 24px;
}

.drum-pad {
  width: 6rem;
  height: 6rem;
  background: var(--background);
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 0px;
  transition: all 0.1s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  color: var(--primary);
}

.drum-pad:active {
  border-radius: 1px solid black;
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color:var(--secondary);
}

#drum-display {
  background: var(--background);
  color:var(--primary);
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 2.5rem;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  font-weight: unset;
  margin: 2rem 0;
  height: 5rem;
}

.drum-title{
  color: var(--primary);
  font-size: 4rem;
  margin: 1rem 0;
  line-height: 1.15;
}